{% extends 'base.html.twig' %}
{% block title %}
Paramètre - MovieProgress
{% endblock %}
{% block content %}
    <div class="container" style="border:solid 2px #000000;">
        <div class="row">
            <img src="{{ asset('../img/empty_profile.png') }}" class="profil_picture" alt="profil_picture" style="width:156px; height:156px; border:solid 2px #000000;">

        </div>
        <form class="form-signin" action="{{ path('parameter') }}" method="post" autocomplete="off">
        <h1 class="h3 mb-3 font-weight-normal">Inscription !</h1>
        {{ form_start(form) }}
        {{ form_row(form.firstName, {'label':false,'attr' : {'placeholder': 'Prénom', 'class':'form-control'}}) }}
        {{ form_row(form.name, {'label':false,'attr' : {'placeholder': 'Nom de famille', 'class':'form-control'}}) }}
        {{ form_row(form.username, {'label':false,'attr' : {'placeholder': 'Pseudo', 'class':'form-control'}}) }}
        {{ form_row(form.email, {'label':false,'attr' : {'placeholder': 'Adresse mail', 'class':'form-control'}}) }}
        {{ form_row(form.gender, {'label':'Genre', 'attr' : {'type' : 'radio'}}) }}
        {{ form_row(form.birthdate, {'label':'Date de naissance'}) }}


        <button class="btn btn-lg btn-primary btn-block" type="submit">Valider les modifications</button>
{{ form_end(form) }}

        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
        <a href="{{ path('editPassword') }}" class="btn btn-info">Modifier mon mot de passe</a>

        <!-- Button trigger modal -->
    <button class="btn btn-danger" data-target="#exampleModal" data-toggle="modal" type="button">
        Suppression du compte
    </button>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes vous sur de vouloir supprimer votre compte et ainsi perdre toutes vos données ?
                    <div class="modal-footer">
                            <a href="{{ path('deleteCurrentUser') }}" class="btn btn-info" role="button">Confirmer la suppression</a>
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Annuler</button>
                    </div>    
                    


                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}