{% extends 'base.html.twig' %}
{% block content %}
    <div class="container" style="border:solid 2px #000000;">
        <div class="row">
            <img src="{{ asset('../img/empty_profile.png') }}" class="profil_picture" alt="profil_picture" style="width:156px; height:156px; border:solid 2px #000000;">
            
            <p>Prénom : </p><input type="text" placeholder="{{ app.user.username }}">
        </div>
        <form class="form-signin" action="{{ path('parameter') }}" method="post" autocomplete="off">
        <h1 class="h3 mb-3 font-weight-normal">Inscription !</h1>
        {{ form_start(form) }}
        {{ form_row(form.firstName, {'label':false,'attr' : {'placeholder': 'Prénom', 'class':'form-control'}}) }}
        {{ form_row(form.name, {'label':false,'attr' : {'placeholder': 'Nom de famille', 'class':'form-control'}}) }}
        {{ form_row(form.username, {'label':false,'attr' : {'placeholder': 'Pseudo', 'class':'form-control'}}) }}
        {{ form_row(form.email, {'label':false,'attr' : {'placeholder': 'Adresse mail', 'class':'form-control'}}) }}
        {{ form_row(form.gender, {'label':'Genre', 'attr' : {'type' : 'radio'}}) }}
        {{ form_row(form.birthdate, {'label':'Date de naissance'}) }}


        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
{{ form_end(form) }}

        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
        <a href="{{ path('editPassword') }}">Modifier mon mot de passe</a>
    </div>
{% endblock %}