{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../css/ratingBar.css') }}"/>

{% endblock %}
{% block body %}
 {{ parent() }}
{% endblock %}

{% block content %}
<div class="top_info">
  <img class="poster" alt=""  src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}">
  <div class="movie_infos">
    <h2>{{ movie.title }} ({{ movie.release_date |date("Y") }})</h2>
    {% set currentRate = 0 %}
    {% for rating in app.user.movieViews %}
        {% if rating.movie.idTMDB == movie.id %}
              {% set currentRate = rating.rate %}
        {% endif %}
    {% endfor %}
    <div class="row">
      <div class="col-md-4">
        <select class="rating" id="{{ movie.id }}" data-title="{{ movie.title }}" data-poster="{{ movie.poster_path }}" data-runtime="{{ movie.runtime }}" >
          <option value=""></option>
        {% for i in 1..10 %}
          <option value={{ i }} {{ i == currentRate ? "selected" }}>{{ i }}</option>
        {% endfor %}
        </select> 
      </div>
      <div class="col-md-4">
        <a href=""  data-api-id="{{ movie.id }}" class="watch-btn btn btn-link">
          {% set viewed = 0 %}
          {% for view in app.user.movieViews %}
              {% if view.movie.idTMDB == movie.id %}
                  {% set viewed = 1 %}
              {% endif %}
          {% endfor %}
          {% if viewed == 1 %}
              <i id="{{ movie.id }}" class="btn btn-secondary ">J'ai vu ce film</i>
          {% else %}
              <i id="{{ movie.id }}" class="btn btn-light">J'ai vu ce film</i>
          {% endif %}
      </a>
      </div>
      <div class="col-md-4">
         <a href=""  data-api-id="{{ movie.id }}" class="toWatch-btn btn btn-link">
            {% set viewed = 0 %}
            {% for view in app.user.movieToWatches %}
                {% if view.movie.idTMDB == movie.id %}
                    {% set viewed = 1 %}
                {% endif %}
            {% endfor %}
            {% if viewed == 1 %}
                <i id="{{ movie.id }}" class="btn btn-secondary ">Je veux voir ce film</i>
            {% else %}
                <i id="{{ movie.id }}" class="btn btn-light">Je veux voir ce film</i>
            {% endif %}
        </a>
      </div>
    </div>
    <h6>Note actuelle : {{ avgRate }} <small>({{nbVotant}}vote)</small></h6 >
    <div class="row" style="margin-left:auto;">
      <h5>Genres : </h5> 
      {% for genre in movie.genres %}<a href="{{ path('genre', {'id': genre.id, 'name':genre.name }) }}" style="margin-left:5px;">{{ genre.name }}</a> {% endfor %}
    </div>
    <h5>Équipe technique principal :</h5>
    <div class="row">
      {% for director in directors %}
        <div class="col-sm-4" style="line-height:1; margin-bottom: 10p  x; "><a href="{{ path('people', {'id': director['id'] }) }}" >{{ director['name'] }}</a></br><font size="2.5" face="Poppins" color="white">Réalisateur</font></div> 
        {% endfor %}
      {% for screenplay in screenplays %}
        <div class="col-sm-4" style="line-height:1; margin-bottom: 10px; "><a href="{{ path('people', {'id': screenplay['id'] }) }}" >{{ screenplay['name'] }}</a></br><font size="2.5" face="Poppins" color="white">Scénariste</font></div> 
        {% endfor %}
    </div>
  </div>
</div>
<div style="padding-left:15px;">
  <h2>Synopsis</h2>
  <p style="color:black" >{{ movie.overview }}</p>
  <h2>Casting</h2>
    <div class="row"> 
    {% for cast in credits['cast'] | slice(0,8) %}
      <div class="card" style="width: 138px; max-height: 358px; margin-left:8px;" >
       {% if cast.profile_path is not null and cast.profile_path is defined %}
          <a href="{{ path('people', {'id': cast.id }) }}"><img class="card-img-top" src="https://image.tmdb.org/t/p/w400{{cast.profile_path}}" alt="Card image cap"></a>
      {% else %}
          <a href="{{ path('people', {'id': cast.id }) }}"><img class="card-img-top" src="{{ asset('../img/empty_profile.png') }}" alt="Card image cap"></a>
      {% endif %}     
          <b>{{ cast.name }}</b>
          <p>{{ cast.character }}</p>
      </div>
    {% endfor %}
      
  </div>
   <a href="{{ path('casting', {'id':movie.id }) }}" >Casting complet </a>
  <h2>Commentaires</h2>
    <section id="commentaires">
      <form  autocomplete="off">
          {{ form(form) }}
          <button id="addComment" class="btn9 btn-primary btn-block" data-id-movie="{{ movie.id }}" data-is-authenticated="{{ app.user.username }}" type="submit">Ajouter un commentaires</button>
      </form>
      <div class="comment"> 
      {% for comment in movieDB.comments | reverse %}
          <div class="row">
            <div class="col-3">
              <a href="{{ path('userInfo', {'id':comment.author.id }) }}"> {{ comment.author.username }} </a> (<small>{{ comment.createdAt | date('d/m/y à H:i') }}</small>)
            </div>
            <div class="col">
            {{ comment.content | raw }}
            </div>

            {% if comment.author.email == app.user.email %}
            <div class="col-1">
                <a class="deleteComment" href="#" data-id-comment="{{ comment.id }}">x</a>

            </div>
            {% endif %}
            
          </div>
        
        {% endfor %}
    </div>
  </section>





</div>


    {% endblock %}

  {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../js/ratingBar.js') }}"></script>
    <script src="{{ asset('../js/comment.js') }}"></script>
    <script src="{{ asset('../js/watchBtn.js') }}"></script>
    <script src="{{ asset('../js/toWatchBtn.js') }}"></script>
   

  {% endblock %}