{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('../css/main.css') }}"></script>
    

{% endblock %}
{% block title %}
{{ people_details.name }} - MovieProgress
{% endblock %}
{% block body %}
 {{ parent() }}
{% endblock %}
{% block content %}
<div class="top_info" >
    {% if people_details.profile_path is not null and people_details.profile_path is defined %}
    <img class="poster" alt=""  src="https://image.tmdb.org/t/p/w400/{{ people_details.profile_path }}">
    {% else %}
    <img class="poster" alt=""  src="{{ asset('../img/test.png') }}">
    {% endif %}
    <div class="movie_infos">
        <h2>{{ people_details.name }}</h2>
        <div class="row" style="margin-left:auto;">
            <h5>Naissance : </h5> 
            <h5> {{ people_details.birthday }} ({{ people_details.place_of_birth }})</h5>
        </div>
        {% if people_details.deathday is not null and people_details.deathday is defined %}
        <div class="row" style="margin-left:auto;">
            <h5>Décès : </h5> 
            <h5> {{ people_details.deathday }}</h5>
        </div>   
        {% endif %}
        
        <div class="row" style="margin-left:auto;">
            <h5>Biographie : </h5> 
            {% if people_details.biography is not empty and people_details.biography is defined %}
            <p id="biography">{{ people_details.biography | truncate(800, true) }} </p> 
            {% else %}
            <p id="biography">Aucune biographie n'est disponible pour {{ people_details.name }}</p>
            {% endif %}
        </div>  
        <button>Ajouter au favoris</button> 
    </div>
</div>

<div style="padding-left:15px;">
{% if know_for.results is not empty  %}
  <h3>Connu (e) pour :</h3>
    <div class="row"> 
    
    {% for bestMovie in know_for.results | slice(0,8) %}
      <div class="card" style="width: 138px; max-height: 358px; margin-left:8px;" >
        {% if bestMovie.poster_path is not null and bestMovie.poster_path is defined %}
          <a href=" {{ path('movie', {'id':bestMovie.id }) }} " ><img class="card-img-top" src="https://image.tmdb.org/t/p/w400{{bestMovie.poster_path}}" alt="Card image cap"></a>
        {% else %}
          <a href=" {{ path('movie', {'id':bestMovie.id }) }} " ><img class="card-img-top" src="{{ asset('../img/emptyImg.jpg') }}" alt="Card image cap"></a>
        {% endif %}
            
          <b>{{ bestMovie.original_title }}</b>
          <p>{{ bestMovie.release_date |date("d/m/Y") }}</p>
      </div>
    {% endfor %}
    
    </div>
       {% endif %}
      <div class="row">
        <div class="col-md-6">
          
          {% for key, crew in crews %}
              <h3>{{ key }}</h3>
              {% for movieinfo in crew %}
               <div>
                <a href=" {{ path('movie', {'id':movieinfo.id }) }} " > 
                  {% if movieinfo.release_date is not null and movieinfo.release_date is defined %}
                    {{ movieinfo.release_date |date("Y") }} 
                  {% endif %} 
                  <strong>{{ movieinfo.original_title }}</strong> en tant que {{ movieinfo.job }}
                </a>
              </div>
              {% endfor %}
               {# {% for directored in directors  %}
              
              
                  {% if directored.release_date is not null and directored.release_date is defined %}
                    <div><a href=" {{ path('movie', {'id':directored.id }) }} " ><strong>{{ directored.original_title }}</strong></a></div>
                    <div class="time">{{ directored.release_date |date("Y") }} </div>
                  {% else %}
                    <div><a href=" {{ path('movie', {'id':directored.id }) }} " >Aucune date <strong>{{ directored.original_title }}</strong></a></div>
              
                {% endif %}
              {% endfor %}  #}
           {% endfor %}
         
        </div>
        <div class="col-md-6">
              <h3>Interprétation</h3>
      {% for movieinfo in cast %}
        <div>
          <a href=" {{ path('movie', {'id':movieinfo.id }) }} " > 
            {% if movieinfo.release_date is not null and movieinfo.release_date is defined %}
              {{ movieinfo.release_date |date("Y") }} 
            {% endif %} 
            <strong>{{ movieinfo.original_title }}</strong> en tant que {{ movieinfo.character }}
          </a>
        </div>

      {% endfor %}
          {# {% if people_movieCrew.results is not empty  %}
          <h2>Filmographie technique</h2>
          {% for crew in people_movieCrew.results  %}
            {% if crew.release_date is not null and crew.release_date is defined %}
              <div><a href=" {{ path('movie', {'id':crew.id }) }} " >{{ crew.release_date |date("d/m/Y") }} <strong>{{ crew.original_title }}</strong></a></div>
            {% else %}
              <div><a href=" {{ path('movie', {'id':crew.id }) }} " >Aucune date <strong>{{ crew.original_title }}</strong></a></div>
            {% endif %}
          {% endfor %}
          {% endif %} #}
        </div>
      </div>

  </div> 
  
</div>

    {% endblock %}

  {% block javascripts %}
    {{ parent() }}

   

  {% endblock %}