{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('../css/main.css') }}"></script>
    

{% endblock %}
{% block body %}
 {{ parent() }}
{% endblock %}

{% block content %}
<div class="top_info" >
    {% if people_details.profile_path is not null and people_details.profile_path is defined %}
    <img class="poster" alt=""  src="https://image.tmdb.org/t/p/w400/{{ people_details.profile_path }}">
    {% else %}
    <img class="poster" alt=""  src="{{ asset('../img/test.png') }}">
    {% endif %}
    <div class="movie_infos">
        <h2>{{ people_details.name }}</h2>
        <div class="row" style="margin-left:auto;">
            <h5>Naissance : </h5> 
            <h5> {{ people_details.birthday }} ({{ people_details.place_of_birth }})</h5>
        </div>
        {% if people_details.deathday is not null and people_details.deathday is defined %}
        <div class="row" style="margin-left:auto;">
            <h5>Décès : </h5> 
            <h5> {{ people_details.deathday }}</h5>
        </div>   
        {% endif %}
        
        <div class="row" style="margin-left:auto;">
            <h5>Biographie : </h5> 
            {% if people_details.biography is not empty and people_details.biography is defined %}
            <p id="biography">{{ people_details.biography | truncate(800, true) }} </p> 
            {% else %}
            <p id="biography">Aucune biographie n'est disponible pour {{ people_details.name }}</p>
            {% endif %}
        </div>   
    </div>
</div>

<div style="padding-left:15px;">
{% if know_for.results is not empty  %}
  <h3>Connu (e) pour :</h3>
    <div class="row"> 
    
    {% for bestMovie in know_for.results | slice(0,8) %}
      <div class="card" style="width: 138px; max-height: 358px; margin-left:8px;" >
        {% if bestMovie.poster_path is not null and bestMovie.poster_path is defined %}
          <a href=" {{ path('movie', {'id':bestMovie.id }) }} " ><img class="card-img-top" src="https://image.tmdb.org/t/p/w400{{bestMovie.poster_path}}" alt="Card image cap"></a>
        {% else %}
          <a href=" {{ path('movie', {'id':bestMovie.id }) }} " ><img class="card-img-top" src="{{ asset('../img/emptyImg.jpg') }}" alt="Card image cap"></a>
        {% endif %}
            
          <b>{{ bestMovie.original_title }}</b>
          <p>{{ bestMovie.release_date |date("d/m/Y") }}</p>
      </div>
    {% endfor %}
    
    </div>
       {% endif %}
      <div class="row">
        <div class="col-md-6">
          {% if people_movieCast.results is not empty  %}
          <h2>Interpretation</h2>
          {% for cast in people_movieCast.results  %}
            {% if cast.release_date is not null and cast.release_date is defined %}
              <div><a href=" {{ path('movie', {'id':cast.id }) }} " >{{ cast.release_date |date("d/m/Y") }} <strong>{{ cast.original_title }}</strong></a></div>
            {% else %}
              <div><a href=" {{ path('movie', {'id':cast.id }) }} " >Aucune date <strong>{{ cast.original_title }}</strong></a></div>
            {% endif %}
          {% endfor %}
          {% endif %}
        
        </div>
        <div class="col-md-6">
          {% if people_movieCrew.results is not empty  %}
          <h2>Filmographie technique</h2>
          {% for crew in people_movieCrew.results  %}
            {% if crew.release_date is not null and crew.release_date is defined %}
              <div><a href=" {{ path('movie', {'id':crew.id }) }} " >{{ crew.release_date |date("d/m/Y") }} <strong>{{ crew.original_title }}</strong></a></div>
            {% else %}
              <div><a href=" {{ path('movie', {'id':crew.id }) }} " >Aucune date <strong>{{ crew.original_title }}</strong></a></div>
            {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div>

  </div> 
  
</div>

    {% endblock %}

  {% block javascripts %}
    {{ parent() }}

   

  {% endblock %}