{% extends 'profil/profil.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}
{{ app.user.username }} - Profil - MovieProgress
{% endblock %}
{% block content %}
    {{ parent() }}

{% endblock %}
{% block movingContent %}

   <h4>Film de {{ app.user.username }} </h4>

  <div class="row" style="margin-left: 1%">
{% for user_movie in user_movies %}
  <div class="img-userMovie">
    <a href="{{ path('movie', {'id':user_movie.movie.idTMDB }) }}" class="mousehover over_a">
      <img alt="" class="little_img" src="https://image.tmdb.org/t/p/w400/{{ user_movie.movie.posterPath }}" style="width:138px; height: 190px ;" >
      <i class="over_i fas fa-search fa-2x" ></i>
    </a>
    <p class="mx-auto" style="max-width: 138px;">{{ user_movie.movie.name | length > 33  ? user_movie.movie.name|slice(0, 33) ~ '...' : user_movie.movie.name}}</p>
  </div>
{% endfor %} 

</div>
            {% endblock %}
            {% block javascripts %}
                {{ parent() }}
            {% endblock %}
