{% extends 'profil/profil.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../build/css/profil_page.css') }}" />
    
{% endblock %}
{% block title %}
{{ app.user.username }} - Profil - MovieProgress
{% endblock %}


{% block content %}
    {{ parent() }}
{% endblock %}
  
{% block movingContent %}
  <h4>Listes suivie</h4>

    <div class="row" style="margin-left: 1%">
  {% for list in lists_followed %}
    <div class="img-userMovie">
      <a href="{{ path('readList' , {'id': list.id}) }}" class="mousehover over_a">
        {# <img alt=""  src="https://image.tmdb.org/t/p/w400/{{ user_movie.poster_path }}" style="width:138px; height: 190px ;" >
        #}
        <img alt=""  src="{{ asset(list.imgPath) }}" style="width:138px; height: 190px ;">
        <i class="over_i fas fa-search fa-2x" ></i>
      </a>
      <p class="mx-auto" style="max-width: 138px;">{{  list.name  | length > 33  ? list.name|slice(0, 33) ~ '...' : list.name}}</p>
    </div>
  {% endfor %}

</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}

