{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../css/profil_page.css') }}" />
    
{% endblock %}
{% block title %}
{{ app.user.username }} - Profil - MovieProgress
{% endblock %}

{% block content %}
<div class="profil">
    <img src="{{ asset('../img/empty_profile.png') }}" class="profil_picture" alt="profil_picture"></img>
    <p class="runtime">Temps passé devant des films : {{ totalRuntime}}</p>
</div>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path('profil') }}">Films Vues</a>
  <a class="navbar-brand" href="{{ path('profil_movieToWatch') }}">Films à regarder</a>
  <a class="navbar-brand" href="{{ path('profil_liste')}}">Listes créées</a>
  <a class="navbar-brand" href="{{ path('followed_list')}}">Listes suivie</a>

</nav>
{% block movingContent %}
<h4>Film de {{ app.user.username }} </h4>

  <div class="row" style="margin-left: 1%">
{% for user_movie in user_movies %}
  <div class="img-userMovie">
    <a href="{{ path('movie', {'id':user_movie.id_tmdb }) }}" class="mousehover over_a">
      <img alt="" class="little_img" src="https://image.tmdb.org/t/p/w400/{{ user_movie.poster_path }}" style="width:138px; height: 190px ;" >
      <i class="over_i fas fa-search fa-2x" ></i>
    </a>
    <p class="mx-auto" style="max-width: 138px;">{{ user_movie.name | length > 33  ? user_movie.name|slice(0, 33) ~ '...' : user_movie.name}}</p>
  </div>
{% endfor %}

</div>
{% endblock %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}

