{% extends 'base.html.twig' %}
{% block title %}
Explorer - Listes - MovieProgress
{% endblock %}
{% block content %}
    <nav class="navbar navbar-dark bg-dark">
        <a href="{{ path('explorer') }}" style="color:white; width: 50%; text-align: center;">Films</a>
        <a href="{{ path('homeList') }}" style="color:white; width: 50%; text-align: center;">Listes</a>
    </nav>
    
<h1>Liste populaires</h1>

        <div class="row">
        
                {% for list in lists %}
                {% if list.type == 0 and list.visibility == 1 %}
                  <div class="col-md-2">
                      <div class="card mb-3 shadow-sm">      
                        
                        <a href="{{ path('readList' , {'id': list.id}) }}" >
                          {% if list.imgPath == "../img/emptyImg.jpg" %}

                              <img src="{{ asset(list.imgPath) }}" alt="list" style=" width:100%;"/>
                          {% else %}
                              <img src="https://image.tmdb.org/t/p/w400/{{ list.imgPath }}" alt="list" style=" width:100%;"/>

                          {% endif %}
                        
                        
                        </a>
                        <div class="card-body">
                            <h5 class="card-text" style="min-height:48px">{{ list.name }}</h5>
                             {% set viewed = 0 %}
                              {% for view in list.users %}
                                {% if view.id == app.user.id %}
                                    {% set viewed = 1 %}
                                {% endif %}
                              {% endfor %} 
                              {% if viewed == 1 %}
                                <a data-list-id="{{ list.id }}" class="addList btn btn-secondary ">Ajouter cette liste</a>
                              {% else %}
                                <a data-list-id="{{ list.id }}" class="addList btn btn-light">Ajouter cette liste</a>
                              {% endif %}
                             {# <a href="{{ path('addList' , {'id': list.id}) }}"  data-list-id="{{ list.id }}">Ajouter la liste</a> #}
                        </div>
                        
                      </div>    
                </div>
                {% endif %} 
                {% endfor %}
          
        </div>
<h1>Liste par personnages</h1>
        <div class="row">
        
                {% for list in lists %}
                 {% if list.type == 1 and list.visibility == 1 %}
                  <div class="col-md-2">
                      <div class="card mb-3 shadow-sm">      
                       
                        <a href="{{ path('readList' , {'id': list.id}) }}" >
                          {% if list.imgPath == "../img/emptyImg.jpg" %}

                              <img src="{{ asset(list.imgPath) }}" alt="list" style=" width:100%;"/>
                          {% else %}
                              <img src="https://image.tmdb.org/t/p/w400/{{ list.imgPath }}" alt="list" style=" width:100%;"/>

                          {% endif %}
                        
                        </a>
                        <div class="card-body">
                            <h5 class="card-text" style="min-height:48px">{{ list.name }}</h5>
                             {% set viewed = 0 %}
                              {% for view in list.users %}
                                {% if view.id == app.user.id %}
                                    {% set viewed = 1 %}
                                {% endif %}
                              {% endfor %} 
                              {% if viewed == 1 %}
                                <a data-list-id="{{ list.id }}" class="addList btn btn-secondary ">Ajouter cette liste</a>
                              {% else %}
                                <a data-list-id="{{ list.id }}" class="addList btn btn-light">Ajouter cette liste</a>
                              {% endif %}
                             {# <a href="{{ path('addList' , {'id': list.id}) }}"  data-list-id="{{ list.id }}">Ajouter la liste</a> #}
                        </div>
                       
                      </div>    
                </div>
                 {% endif %} 
                {% endfor %}
          
        </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}

<script src="{{ asset('../js/addList.js') }}"></script>
{% endblock %}