{% extends 'base.html.twig' %}

{% block title %}
{{ list.name }} - Modification - MovieProgress
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('../css/main.css') }}"></script>

    <style>
</style>    
{% endblock %}
{% block content %}
<div class="top_info">
{% if list.imgPath == "../img/emptyImg.jpg" %}

  <img class="poster" alt=""  src="{{ asset(list.imgPath) }}">
  {% else %}
      <img class="poster" alt=""  src="https://image.tmdb.org/t/p/w400/{{ list.imgPath }}">
{% endif %}
  <div class="movie_infos">
    <h2>{{ list.name }} <a href="{{ path('removeList', {"id": list.id}) }}" class="btn btn-danger">Supprimer la liste</a></h2>
    <div class="row" style="margin-left:auto;">
     
    
    </div>
  </div>
</div>
    
    <div class="input-group">
        <p class="listId" hidden>{{ list.id }}</p>
        <input type="text" id="ListSearchBAr" autocomplete="off" class="form-control" placeholder="Search this blog">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-7 row" id="affichage_results" ></div>
        <div class="col-5" style="border-left: 6px solid black; min-height:86.5vh;">
            <h3>Films présent dans la liste</h3>
            <div class="movieInList row">
            {% for movie in list.movies %}
                <div  style="max-width:150px; margin-left:15px; border: 1px solid black; min-height:384px; ">
                    <img src="http://image.tmdb.org/t/p/w154/{{ movie.posterPath }}" alt="moviePicture" style="width:147px;">
                    <div class="card-body">
                         <h5 class="card-title wordwrap">{{ movie.name }}</h5>
                         <p hidden class="inId" >{{ movie.idTmdb }}</p> 
                         <a href="#"  class="removeMovie btn btn-danger" >Supprimer</a>

                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{# </div> #}



{# <div class="row" id="affichage_results" style="margin-left: auto;"></div> #}
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('../js/listSearchBar.js') }}"></script>

{% endblock %}
