{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
                <link rel="stylesheet" href="{{ asset('../css/ratingBar.css') }}" />    
{% endblock %}
{% block title %}Hello ApiController!{% endblock %}
{% block content %}
    <nav class="navbar navbar-dark bg-dark" >
        <a href="{{ path('explorer') }}" style="color:white; width: 50%; text-align: center;">Films</a>
        <a href="{{ path('homeList') }}" style="color:white; width: 50%; text-align: center;">Listes</a>
    </nav>
    
    {% for moviesArrayHome in moviesArraysHome %}
        <div class="album py-5 bg-light">
            <div class="container">
                {% if moviesArrayHome[3] is defined %}
                    <h1>
                        {{ moviesArrayHome[0] }}</h1>
                    <a href="{{ path('genre', {'id': moviesArrayHome[1], 'name':moviesArrayHome[0] }) }}">Voir plus</a>
                    {% else %}
                    <h1>
                        {{ moviesArrayHome[0] }}</h1>
                    <a href="{{ path('specialDisplay', {'data':moviesArrayHome[1]}) }}">Voir plus</a>
                {% endif %}
                <div class="row">
                    {% for movie in moviesArrayHome[2].results | slice(0,4) %}
                        <div class="col-md-3">
                            <div class="card mb-3 shadow-sm">
                                <img alt="" class="bd-placeholder-img card-img-top" src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}">
                                    <div class="card-body">
                                        <h5 class="card-text">
                                            {{ movie.title }}</h5>
                                        <h5 class="card-text">
                                            {% set currentRate = 0 %}
                                            {% for rating in app.user.movieViews %}
                                                {% if rating.movie.idTMDB == movie.id %}
                                                    {% set currentRate = rating.rate %}
                                                {% endif %}
                                            {% endfor %}
                                        </h5>
                                        <select class="rating" id="{{ movie.id }}" data-title="{{ movie.title }}" data-poster="{{ movie.poster_path }}">
                                                <option value=""></option>
                                            {% for i in 1..10 %}
                                                <option value={{ i }} {{ i == currentRate ? "selected" }}>
                                                    {{ i }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-outline-secondary" type="button">
                                                    <a href="{{ path('movie', {'title': movie.title, 'id':movie.id }) }}">more info</a>
                                                </button>
                                                <a href="" data-title="{{ movie.title }}" data-api-id="{{ movie.id }}" data-poster="{{ movie.poster_path }}" class="watch-btn btn btn-link">
                                                    {% set viewed = 0 %}
                                                    {% for view in app.user.movieViews %}
                                                        {% if view.movie.idTMDB == movie.id %}
                                                            {% set viewed = 1 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if viewed == 1 %}
                                                        <i id ="{{ movie.id }}" class="btn-icon fas fa-eye-slash"></i>
                                                        {% else %}
                                                        <i id ="{{ movie.id }}" class="btn-icon fas fa-eye"></i>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="http://antenna.io/demo/jquery-bar-rating/jquery.barrating.js"></script>
            <script src="{{ asset('../js/ratingBar.js') }}"></script>
            <script src="{{ asset('../js/watchBtn.js') }}"></script>
    {% endblock %}
    {# {{ movie.backdropImage|tmdb_image_html('original', 2000, 2000)|raw }} #}
    