{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}
  

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <h1>Films Populaires</h1><a href="{{ path('popular_movie') }}">Voir plus</a>
      <div class="row">
{% for movie in popular.results | slice(0,4) %}

     <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
          <img class="bd-placeholder-img card-img-top" src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}"  alt="">
            <div class="card-body">
              <h5 class="card-text">{{ movie.title }}</h5>
              <h5 class="card-text">{{ movie.release_date }}</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('movie', {'title': movie.title, 'id':movie.id }) }}">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

{% endfor %}
</div>
        <h1>Films à venir</h1>
        <a href="{{ path('upcoming') }}">Voir plus</a>
      <div class="row">
{% for movie in upcoming.results | slice(0,4) %}

     <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
          <img class="bd-placeholder-img card-img-top" src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}"  alt="">
            <div class="card-body">
              <h5 class="card-text">{{ movie.title }}</h5>
              <h5 class="card-text">{{ movie.release_date }}</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('movie', {'title': movie.title, 'id':movie.id }) }}">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

{% endfor %}
</div>
        <h1>Films les mieux notés</h1>
        <a href="{{ path('top_rated') }}">Voir plus</a>
      <div class="row">
{% for movie in top_rated.results | slice(0,4) %}

     <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
          <img class="bd-placeholder-img card-img-top" src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}"  alt="">
            <div class="card-body">
              <h5 class="card-text">{{ movie.title }}</h5>
              <h5 class="card-text">{{ movie.release_date }}</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('movie', {'title': movie.title, 'id':movie.id }) }}">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

{% endfor %}
</div>
        <h1>Drame </h1>
        <a href="{{ path('genre', {'id': '18', 'name':'Drame' }) }}">Voir plus</a>
      <div class="row">
{% for movie in drame.results | slice(0,4) %}

     <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
          <img class="bd-placeholder-img card-img-top" src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}"  alt="">
            <div class="card-body">
              <h5 class="card-text">{{ movie.title }}</h5>
              <h5 class="card-text">{{ movie.release_date }}</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('movie', {'title': movie.title, 'id':movie.id }) }}">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

{% endfor %}
</div>
        <h1>Comedie </h1>
        <a href="{{ path('genre', {'id': '35', 'name':'Comedie' }) }}">Voir plus</a>
      <div class="row">
{% for movie in comedie.results | slice(0,4) %}

     <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
          <img class="bd-placeholder-img card-img-top" src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}"  alt="">
            <div class="card-body">
              <h5 class="card-text">{{ movie.title }}</h5>
              <h5 class="card-text">{{ movie.release_date }}</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('movie', {'title': movie.title, 'id':movie.id }) }}">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

{% endfor %}
</div>
        <h1>Horreur </h1>
        <a href="{{ path('genre', {'id': '27', 'name':'Horreur' }) }}">Voir plus</a>
      <div class="row">
{% for movie in horreur.results | slice(0,4) %}

     <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
          <img class="bd-placeholder-img card-img-top" src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}"  alt="">
            <div class="card-body">
              <h5 class="card-text">{{ movie.title }}</h5>
              <h5 class="card-text">{{ movie.release_date }}</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('movie', {'title': movie.title, 'id':movie.id }) }}">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

{% endfor %}
</div>
        <h1>Science Fiction </h1>
        <a href="{{ path('genre', {'id': '878', 'name':'Science-Fiction' }) }}">Voir plus</a>
      <div class="row">
{% for movie in scienceFiction.results | slice(0,4) %}

     <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
          <img class="bd-placeholder-img card-img-top" src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}"  alt="">
            <div class="card-body">
              <h5 class="card-text">{{ movie.title }}</h5>
              <h5 class="card-text">{{ movie.release_date }}</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('movie', {'title': movie.title, 'id':movie.id }) }}">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

{% endfor %}
</div>
        <h1>Histoire </h1>
        <a href="{{ path('genre', {'id': '36', 'name':'Histoire' }) }}">Voir plus</a>
      <div class="row">
{% for movie in histoire.results | slice(0,4) %}

     <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
          <img class="bd-placeholder-img card-img-top" src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}"  alt="">
            <div class="card-body">
              <h5 class="card-text">{{ movie.title }}</h5>
              <h5 class="card-text">{{ movie.release_date }}</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('movie', {'title': movie.title, 'id':movie.id }) }}">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

{% endfor %}
</div>
</div>
</div>

{% endblock %}





{# {{ movie.backdropImage|tmdb_image_html('original', 2000, 2000)|raw }} #}

